body{
    background-image:url(qUiz.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:Quiz;
}
@font-face {
    font-family:Quiz;
    src: url(Quiska\ Personal\ Use\ Only.ttf);
    color:#2c3e50;
}
